<div class="row">
    <div class="container">
        <div class="col-12 pt-3">
            <h1 class="text-center mt-3">Find a vision Provider</h1>
            <ul class="search-nav">
                <li><a href=""><i class="fab fa-searchengin"></i></a><span>Quick Name Search</span></li>
                <li><a href=""><i class="fas fa-stethoscope"></i></a><span>Detail search</span></li>
                <li><a href=""><i class="fas fa-star"></i></a><span>My Favorites</span></li>
            </ul>
        </div>
    </div>
</div>